<a href="https://colab.research.google.com/github/y-eon/TIL/blob/master/0711_Regular_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정규표현식 연습

- . : 한 개의 임의의 문자
- ? : 앞문자가 0개 또는 1개
- \* : 앞문자가 0개 이상
- \+ : 앞문자가 1개 이상
- ^ : 뒤의 문자로 문자열이 시작
- $ : 앞의 문자로 문자열이 끝남

- \d : 한 개의 숫자 (=[0-9])
- \D : 한 개의 숫자가 아닌 문자 (=[^0-9])
- \w : 한 개의 알파벳 문자 혹은 숫자 (=[a-zA-Z0-9])
- \W : 한 개의 알파벳 문자 혹은 숫자가 아닌 문자 (=[^a-zA-Z0-9])
- \s : 공백 문자
- \S : 공백이 아닌 문자

- \t : 탭
- \r : 캐리지 리턴
- \n : 개행
- \x : 16진수
- \b : 단어구분자

#### re.match()
- 문자열 처음부터 매치 여부 조사

In [ ]:
import re

text = 'I like orange! I love orange!'
result = re.match("orange",text)
print(result)

None

In [ ]:
text = 'orange! I love orange!'
result = re.match("orange",text)
print(result)

<_sre.SRE_Match object; span=(0, 6), match='orange'>

In [ ]:
print(result.group())
print(result.start())
print(result.end())
print(result.span())

orange
0
6
(0, 6)

#### re.search()
- 문자열 전체를 조사. 처음 검색된 최초 문자열에 대한 Match 객체 리턴

In [ ]:
import re

text = "I like orange! I love orange!"
result = re.search("orange",text)
print(result)

<_sre.SRE_Match object; span=(7, 13), match='orange'>

In [ ]:
print(result.group())
print(result.start())
print(result.end())
print(result.span())

orange
7
13
(7, 13)

#### re.findall()
- 매치되는 모든 문자열 리스트로 리턴

In [ ]:
import re

text = "I like orange! I love orange!"
result = re.findall("orange",text)
print(result)

['orange', 'orange']

#### re.finditer()
- 매치되는 모든 문자열에 대한 Match 객체 리턴

In [ ]:
import re

text = "I like orange! I love orange!"
result = re.finditer("orange",text)
for each in result:
    print(each)

<_sre.SRE_Match object; span=(7, 13), match='orange'>
<_sre.SRE_Match object; span=(22, 28), match='orange'>

#### re.split()
- 입력된 정규표현식을 기준으로 문자열들을 분리하여 리스트로 리턴

In [ ]:
import re

text = "apple,orange!banana pineapple"
result = re.split("[,! ]",text) # , ! ' ' 기준으로 분리됨
print(result)

['apple', 'orange', 'banana', 'pineapple']

#### 탐욕적 혹은 게으른

In [ ]:
import re

text =  "<html><head><title>Title</title>"
print(re.match('<.*>',text).group())

print(re.match('<.*?>',text).group())

<html><head><title>Title</title>
<html>

#### 역참조(backreference)
- 역으로 참조 - 하위표현식을 참조
- 방법 : 하위표현식을 숫자로 참조

In [ ]:
import re

text = 'Paris in the the spriing'
result =  re.search('(\b\w+)\s+\1', text)

print(result)

None

#### re.sub()
- 문자열에서 정규 표현식과 일치하는 부분에 대해서 다른 문자열로 대체

In [ ]:
import re

text = "apple, orange! banana pineapple"
result = re.sub('[^a-zA-Z]'," ",text)
print(result)

apple  orange  banana pineapple

In [ ]:
text = "park 010-1234-1234"
result = re.sub("(\w+)\s+((\d+)[-]\d+[-]\d+)","\g<2> \g<1>",text)
print(result)

010-1234-1234 park

## 실습 01
- 정상적인 이메일만 추출해주세요

In [ ]:
import re
text = '''jkilee@gmail.com
kttredef@naver.com
akdef!aa.com
adekik@best.kr
abkereff@aacde
adefgree@korea.co.kr'''

result = re.findall('(\S+@\S+\.\S+[\.\S+]*)',text)
print(result)

['jkilee@gmail.com', 'kttredef@naver.com', 'adekik@best.kr', 'adefgree@korea.co.kr']

## 실습 02
- 텍스트중에 <내용> 괄호로 묶여진 텍스트를 괄호
포함 모두 제거해주세요

In [ ]:
text = '안녕하세요 저는 <em>홍길동</em> 입니다. 나이는 24살 세계 최고의 <a href="aa.aa.com">데이터 분석가</a>가 되고싶습니다'

result = re.sub("\<.*?\>","",text)
result

'안녕하세요 저는 홍길동 입니다. 나이는 24살 세계 최고의 데이터 분석가가 되고싶습니다'

## 실습 03
1. 정규표현식을 이용 \<span>내용\</span> 을 각각 추출
2. 추출된 항목에서 \<span>과 \</span> 태그를 모두제거
3. 각각 총 3개의 항목을 리스트에 넣기

In [ ]:
text = '''<p>
<span>네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.</span>
<span>네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.</span>
<span>이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.</span>
</p>'''
text

'<p>\n<span>네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.</span>\n<span>네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.</span>\n<span>이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.</span>\n</p>'

In [ ]:
result = re.findall('<span>(.+?)</span>',text)
result

['네이버가 뉴스 서비스에 인공지능(AI)을 도입해 페이지 뷰(PV)를 늘리고 이용자를 끌어 모으고 있다.',
 '네이버는 5일 오전 서울 강남구 그랜드 인터컨티넨털 호텔에서 AI 콜로키움 2019를 열고 이 같은 AI 성과와 전략을 소개했다.',
 '이날 기조연설에서 김광현 네이버 서치앤클로바 리더는 "AI 뉴스 추천 시스템인 에어스(AiRS)를 도입하면서 뉴스 소비량이 확대되고 있다" 고 말했다.']